@import '../../variables';

.navbar-right {
  font-size: 16px;
}

.app-title{
  background-color: $header-title-background;
  color: $white;
  text-align: center;
  padding: 16px 0;
}

ul.app-nav {
  text-align: center;
  background-color: $navbar-background;

  li {
    display: inline-block;

    &:not(:first-child):before {
      content: "|";
    }

    a {
      color: lightgrey;
      display: inline-block;
      font-weight: bold;
      margin: 0 16px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    &.active {

      a {
        color: $black;
        border-bottom: 2px solid $selected-navItem-border;
      }
    }
  }
}